*{
	padding:0px;
	margin:0px;
}

body{
	margin:5%;
	/* background:linear-gradient(Turquoise,LightSeaGreen,DarkCyan,LightSeaGreen,Turquoise); */
}

.errors{
	font-size:10px;
	color: red;
}

/* #cityError{
	padding-left:30px;
}*/
#emailError{
display:block;
}

.vote_bar{
	border:1px solid black;
	width:90%;
	height:15px;
	padding:5px;
	margin-left:3%;
	margin-bottom:3%;
	margin-top:2%;
}

#progress{
	width:0%;
	height:15px;
	background:linear-gradient(white, gold,gold, white);
}

.image{
	width:20%;
	display:inline-block;
	margin-left:20%;
	margin-bottom:7%;
	background-color:white;
}

.photo_name{
	font-weight:bold;
	font-size:20px;
	margin-left:35%;
}

.image img{
	width:85%;
	padding-right:15px;
	padding-left:15px;
	padding-top:10px;
}

.pic_div{
	background-color:black;
	width:100%;
}


.wrapper {
  padding-top: 50px;
}

 .wrapper .like_button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  overflow: hidden;
}

.wrapper .like_button .like-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff4f8f;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all .4s;
  z-index: 0;
}

.wrapper .like_button i.not-liked {
  display: block;
  color: #fff;
  position: relative;
  z-index: 1;
}

.wrapper .like_button i.is-liked {
  display: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.wrapper .like_button.is-active .like-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper .like_button.is-active i.not-liked {
  display: none;
}

.wrapper .like_button.is-active i.is-liked {
  display: block;
}

@-webkit-keyframes bouncy {
  from, to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
}
@keyframes bouncy {
  from, to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
}
.bouncy {
  -webkit-animation: bouncy 0.6s;
  animation: bouncy 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}




@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body, .message, .form, form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  /* overflow: hidden; */
}

.container {
  width: 900px;
  height: 610px;
  background: white;
  position: relative;
  display: grid;
  grid-template: 100% / 50% 50%;
  box-shadow: 2px 2px 10px 0 rgb(0,100,0);
  border-radius:50% 20% / 10% 40%;
}
.message {
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  transition: 0.5s all ease;
  transform: translateX(100%);
  z-index: 4;
}
.message:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 70%;
  background: #c3c3d8;
  opacity: 0;
  left: 0;
  top: 15%;
}
.message .button {
  margin: 5px 0;
}
.signup:before {
  opacity: 0.3;
  left: 0;
}
.login:before {
  opacity: 0.3;
  left: 100%;
}
.btn-wrapper {
  width: 60%;
}
.form {
  width: 100%;
  height: 100%;
}
.form--heading {
  font-size: 40px;
  font-weight:bold;
  height: 50px;
  color:teal;
  /* text-shadow:0 0 3px RoyalBlue; */
  font-family: 'Playfair Display', sans-serif;
}
form {
  width: 70%;
  color:Black;
}
form > * {
  margin: 10px;
}
form input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(195, 195, 216, 0.5);
  font-size: 16px;
  font-weight: 300;
  color: teal;
  letter-spacing: 0.11em;
}

#emailInput{
	width: 250px;
}

#emailLabel{
	display: block;
}

#locLabel{
	display: block;
}

#city5{
	display: inline-block;
	width: 195px;
}

#state5{
	display: inline-block;
	width: 50px;
	font-size: 14px;
}

#pw1{
   	margin-right: 2px;
}

#pw3{
    margin-left: 10px;
    width: 240px;
}

#email4{
	display: block;
}

#email3{
	width: 250px;
}

form input::placeholder {
  color: #c3c3d8;
  font-size: 10px;
}
form input:focus {
  outline: 0;
  border-bottom: 1px solid rgba(128, 155, 206, 0.7);
  transition: 0.6s all ease;
}

select{
	/* background-color:gold; */
	color:black;
	width:20%;
}
.button {
  width: 100%;
  height: 30px;
  border: 0;
  outline: 0;
  color: white;
  font-size: 15px;
  /* font-weight: bold; */
  position: relative;
  z-index: 3;
  letter-spacing: 2px;
  background: teal;
  font-family: 'Playfair Display', sans-serif;
  border-radius: 8px;
}

#signup{
	margin-bottom: 13px;
}

#loginBut{
	width: 120px;
}

#loginBut:hover{
	background-color: #75c4c0;
}

.signupfont{
	font-family: sans-serif;
}

.signOne{
	width:120px;
}

.button:hover {
  transform: translateY(4px);
  transition: 0.4s all ease;
  background-color: #75c4c0;
}
@media (max-width: 750px) {
  .container {
    transform: scale(0.8);
    
  }
}